html {
   margin-top: 20px;
   margin-left: 10%;
   margin-right: 10%;
   background: #0D0D0D;
}

body {
   font-family: "Smooch Sans", sans-serif;
   letter-spacing: 1px;
}

.login-signup {
   display: flex;
   justify-content: end;
   margin-bottom: 20px;
}

.login {
   margin-right: 2px;
}

.sign-up {
   margin-left: 2px;
}