html {
   margin-top: 20px;
   margin-left: 10%;
   margin-right: 10%;
   background: #0D0D0D;
   color: #ffffff;
}

body {
   font-family: "Smooch Sans", sans-serif;
   letter-spacing: 1px;
}

main {
   background: #333333;
   padding: 0 10px;
}

.logo {
   width: 200px;
}

.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: space-around;
   margin-bottom: 20px;
}

.btn {
   border: none;
   border-radius: 3px;
   margin-top: 10px;
   margin-right: 6px;
   font-size: 1.2rem;
   font-family: "Smooch Sans", sans-serif;
   color: #ffffff;
   letter-spacing: 1px;
   text-decoration: none;
   text-shadow: 0 0 1px #262626;
}

.login {
   background: #333333;
   padding: 4px 18px;
}

.sign-up {
   background: #F20D3B;
   padding: 4px 10px;
}