html {
   margin-top: 100px;
   background: #0D0D0D;
}

body {
   font-family: "Smooch Sans", sans-serif;
   letter-spacing: 1px;
}

.title {
   font-size: 3rem;
   color: #960824;
}

.login-container {
   padding-top: 50px;
   padding-bottom: 70px;
   width: 350px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   background: transparent;
   box-shadow: 0px 0px 400px #590e0e;
   border: 2px solid #960824;
}

.input-container {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.input-label {
   position: absolute;
   font-size: 1.25rem;
   margin-top: 10px;
   margin-right: 180px;
   color: #9893AE;
}

.input {
   padding: 10px 10px 10px 5px;
   font-size: 1.25rem;
   outline: none;
   border: none;
   border-bottom: 1px solid #9893AE;
   background: transparent;
   color: #9893AE;
   font-family: "Smooch Sans", sans-serif;
   letter-spacing: 1px;
}

.input-text {
   width: 240px;
}

.input-text:focus~label {
   margin-top: -5px;
   margin-right: 200px;
   font-size: 0.8rem;
   color: #F20D3B;
}

.input-text:focus {
   border-bottom: 2px solid #F20D3B;
}

.input-text-focus~label {
   margin-top: -5px;
   margin-right: 200px;
   font-size: 0.8rem;
   color: #F20D3B;
}

.input-text-focus {
   width: 240px;
   border-bottom: 2px solid #F20D3B;
}

.checkbox-container {
   display: flex;
   justify-content: center;
   margin-right: 150px;
}

.checkbox-label {
   font-size: 1rem;
   margin-top: 4px;
   color: #9893AE;
}

.checkbox {
   accent-color: #960824;
}

.btn {
   border: none;
   border-radius: 5px;
   font-size: 1.25rem;
   font-family: "Smooch Sans", sans-serif;
   letter-spacing: 1px;
   background: #F20D3B;
   color: #262626;
   text-decoration: none;
   text-shadow: 0 0 1px #262626;
}

.forgot-password {
   display: flex;
   justify-content: center;
   margin-top: 5px;
   font-size: 1rem;
   text-decoration: none;
   color: #9893AE;
}

.btn-container {
   display: flex;
   justify-content: center;
   margin-top: 20px;
   font-weight: bold;
}

.login-btn {
   padding: 10px 35px;
}

.sign-up-btn {
   padding: 10px 30px;
}
