html {
   margin-top: 100px;
   background: #0C090D;
}

body {
   font-family:'Times New Roman', Times, serif
}

.container-login {
   padding-top: 50px;
   padding-bottom: 70px;
   width: 350px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   background: transparent;
   box-shadow: 0px 0px 100px #591C0E;
   border: 2px solid #BF281B;
}

input {
   padding: 10px 10px 10px 5px;
   font-size: 20px;
   outline: none;
   border: none;
   border-bottom: 1px solid #908DA6;
   background: transparent;
}

.input-login {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.input-label {
   position: absolute;
   font-size: 20px;
   margin-top: 10px;
   margin-right: 180px;
   color: #908DA6;
}

.text-input:focus~label {
   margin-top: -5px;
   margin-right: 200px;
   font-size: 12px;
   color: #BF281B;
}

.text-input:focus {
   border-bottom: 2px solid #BF281B;
}

.text-input-focus~label {
   margin-top: -5px;
   margin-right: 200px;
   font-size: 12px;
   color: #BF281B;
}

.text-input-focus {
   border-bottom: 2px solid #BF281B;
}

.checkbox-login {
   display: flex;
   justify-content: center;
   margin-right: 160px;
}

.checkbox-label {
   font-size: 14px;
   margin-top: 4px;
   color: #908DA6;
}

.checkbox-input {
   accent-color: #BF281B;
}

button {
   border: none;
   border-radius: 5px;
   font-size: 16px;
   font-family:'Times New Roman', Times, serif
}

a {
   display: flex;
   justify-content: center;
   margin-top: 5px;
   font-size: 14px;
   text-decoration: none;
   color: #908DA6;
}

.button-login {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.login-button {
   background: #591C0E;
   color: #908DA6;
   padding: 10px 30px;
}

.sign-up-button {
   background: #591C0E;
   color: #908DA6;
   padding: 10px 25px;
}
