html {
   margin-top: 105px;
   background: #0D0D0D;
}

body {
   font-family: "Smooch Sans", sans-serif;
   letter-spacing: 1px;
}

.title {
   font-size: 3rem;
   color: #960824;
}

.container-sign-up {
   padding-top: 70px;
   padding-bottom: 100px;
   width: 350px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   background: transparent;
   box-shadow: 0px 0px 400px #590e0e;
   border: 2px solid #960824;
}

.user-info {
   color: #9893AE;
   width: 245px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   font-family: "Smooch Sans", sans-serif;
   letter-spacing: 1px;
   padding: 10px 10px 10px 5px;
   font-size: 1.25rem;
   background: #262626;
   border-radius: 6px;
}

.user-info::placeholder {
   color: #9893AE;
   font-size: 1rem;
   font-family: "Smooch Sans", sans-serif;
   letter-spacing: 1px;
}

.user-info:focus {
   border: 2px solid #960824;
   outline: none;
}

.input-label {
   display: inline-block;
   color: #9893AE;
   margin-top: 10px;
   margin-left: 45px;
}

p {
   text-align: center;
   margin-top: 20px;
   margin-bottom:5px;
   font-size: 1rem;
   color: #9893AE;
}

.checkbox-password {
   display: flex;
   justify-content: center;
   margin-right: 156px;
}

.checkbox-label {
   font-size: 1rem;
   margin-top: 4px;
   color: #9893AE;
}

.checkbox-input {
   accent-color: #F20D3B;
}

.btn {
   border: none;
   border-radius: 5px;
   font-size: 1.25rem;
   font-family: "Smooch Sans", sans-serif;
   letter-spacing: 1px;
   font-weight: bold;
   background: #F20D3B;
   color: #262626;
   text-decoration: none;
   text-shadow: 0 0 1px #262626;
}

.btn-container {
   display: flex;
   justify-content: center;
}

.create-account-btn {
   margin-top: 20px;
   padding: 10px 20px;
}

.login-btn {
   background: #F20D3B;
   color: #262626;
   padding: 10px 55px;
}
