html {
   margin-top: 105px;
   background: #0C090D;
}

body {
   font-family:'Times New Roman', Times, serif
}

.container-sign-up {
   padding-top: 70px;
   padding-bottom: 100px;
   width: 350px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   background: transparent;
   box-shadow: 0px 0px 100px #591C0E;
   border: 2px solid #BF281B;
}

input {
   padding: 10px 10px 10px 5px;
   font-size: 20px;
   background: #222228;
   border-radius: 5px;
}

input:focus {
   border: 2px solid #908DA6;
   outline: none;
}

.user-info {
   font-size:15px;
   color: #908DA6;
   width: 245px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
}

.user-info::placeholder {
   color: #908DA6;
}

p {
   text-align: center;
   margin-top: 20px;
   margin-bottom:5px;
   font-size: 14px;
   color: #908DA6;
}

.checkbox-login {
   display: flex;
   justify-content: center;
   margin-right: 160px;
}

.checkbox-label {
   font-size: 14px;
   margin-top: 4px;
   color: #908DA6;
}

.checkbox-input {
   accent-color: #BF281B;
}

button {
   border: none;
   border-radius: 5px;
   font-size: 16px;
   font-family:'Times New Roman', Times, serif
}

.button-sign-up {
   display: flex;
   justify-content: center;
}

.create-account-button {
   margin-top: 20px;
   background: #591C0E;
   color: #908DA6;
   padding: 10px 25px;
}

.login-button {
   background: #591C0E;
   color: #908DA6;
   padding: 10px 55px;
}
